0-hello/target/
01-variables/target/
02-exercise_a_variables/target/
03-functions/target/
04-exercise_b_functions/target/
05-solved_exercise_b_functions/target/
06-module_system/target/
07-scalar_types/target/
08-compound_types/target/
09-exercise_c_simple_types/target/
10-solved_exercise_c_simple_types/target/
11-control_flow/target/
12-strings/target/
13-exercise_d_control_flow_strings/target/
14-solved_exercise_d_control_flow_strings/target/
15-ownership/target/
16-references_borrowing/target/
17-exercise_e_ownership_references/target/
18-solved_exercise_e_ownership_references/target/
19-structs/target/
20-traits/target/
21-exercise_f_structs_traits/target/
22-solved_exercise_f_structs_traits/target/
23-collections/target/
24-enums/target/
25-exercise_g_collections_enums/target/
26-solved_exercise_g_collections_enums/target/
27-closures/target/
28-threads/target/
29-exercise_h_closures_threads/target/
30-solved_exercise_h_closures_threads/target/