hello/target/
variables/target/
exercise_a_variables/target/
functions/target/
exercise_b_functions/target/
module_system/target/
scaler_types/target/
compound_types/target/
exercise_c_simple_types/target/
control_flow/target/
strings/target/
exercise_d_control_flow_strings/target/
ownership/target/
references_borrowing/target/
exercise_e_ownership_references/target/
structs/target/
traits/target/
exercise_f_structs_traits/target/
collections/target/
enums/target/
exercise_g_collections_enums/target/
closures/target/
threads/target/
exercise_h_closures_threads/target/